.nav {
  text-align: center;

}

.nav li {
  display: inline-block;
  border: 0px solid rgb(242,130,180);
  transition: 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
  width: 140px;
  height: 60px;
  border-left: 1px solid rgb(230,230,230);
  box-sizing: border-box;
}

.nav li:last-of-type {
  border-right: 1px solid rgb(230,230,230);
}

.nav li:hover {
  border-bottom: 4px solid rgb(242,130,180);
}

.nav li a {
  color: rgb(170,170,170);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.nav li a:hover {
  color: rgb(242,130,180);
  text-decoration: none;
}

.nav li:hover > a {
  color: rgb(242,130,180);
}
