/* Style The Grid */
.grid-container {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.grid-item {
  float: left;
  margin: 10px;
  height: 150px;
  width: 500px;
  background-color: #353644;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 1.5px 2.6px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  transition: 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.grid-item.open {
  height: 490px !important;
}

.grid-item:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), 1.7px 2.9px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.progress {
  height: 1.5rem;
  position: relative;
  background: #555;
  margin-bottom:0.15rem;
}

.progress-bar {
  height: 100%;
  display:block;
  background-color: cyan;
  position: relative;
  overflow: hidden;
}

.basic-info-radical-progress {
  background-color: #8ed8f8;
}

.progress-bar-radical {
  background-color: #2bade2;
}

.basic-info-kanji-progress {
  background-color: #ef5b9e;
}

.progress-bar-kanji {
  background-color: #eb0889;
}


.basic-info-container{
  position: relative;
  max-height: 150px;
  background-color: white;
  box-shadow: 0.0px 2.6px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 2;

  transition: 0.4s ease-out box-shadow;
}

.basic-info-img-container {
  position: relative;
  float:left;
  height: 150px;
  width: 28%;
  background-color: #ace1fa;
}

.basic-info-profile-img {
  background-size: cover;
  background-position: center;
  height:100%;
  width: 100%;
}

.basic-info-profile-img img {
  height: 100%;
  width: 100%;
}

.basic-info-progress-container {
  float: left;
  width: 72%;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.basic-info-username {
  font-size: 1.6rem;
  float: left;
  font-weight: 400;
}

.basic-info-level{
  font-size: 1.6rem;
  float: right;
  font-weight: 400;
}

/* Responsify Stuff (grid system is take care with jQuery)*/

@media(max-width: 792px){
  .basic-info-username {
    font-size: 1.3rem;
    float: left;
  }

  .basic-info-level{
    font-size: 1.3rem;
    float: right;
  }
}

@media(max-width: 512px){
  .basic-info-username {
    font-size: 1.2rem;
    float: left;
  }

  .basic-info-level{
    font-size: 1.2rem;
    float: right;
  }
}

.extra-info-container{
  position: relative;
  height: auto;
  background-color: #353644;
  overflow: hidden;
  color: white !important;

  transition: 0.4s ease all;
}

.extra-info-agme-container {
  height: 150px;
}

.extra-info-agme-container-top {
  position:relative;
  height:75px;
  z-index: 2;
  box-shadow: 0.0px 2.6px 3px rgba(0, 0, 0, 0.3), 0.0px -2.6px 3px rgba(0, 0, 0, 0.3);;
}

.extra-info-agme-apprentice {
  height: 75px;
  overflow: hidden;
  float: left;
  width: 25%;
  background-color: #ec008c;

  transition: 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.extra-info-agme-apprentice:hover {
  background-color:#ff0978;
  height: calc(75px * 4);
  margin-top: -75px;
}

.extra-info-agme-apprentice-radicals {
  height: 75px;
  width: 100%;
  background-color: #ff3491;
}

.extra-info-agme-apprentice-kanji {
  height: 75px;
  width: 100%;
  background-color: #ff519f;
}

.extra-info-agme-apprentice-vocabulary {
  height: 75px;
  width: 100%;
  background-color: #ff6db1;
  clear:both;
}

.extra-info-agme-guru {
  height: 75px;
  overflow:hidden;
  float: left;
  width: 25%;
  background-color: #6d2d82;

  transition: 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.extra-info-agme-guru:hover {
  background-color: #68008c;
  height: calc(75px * 4);
  margin-top: -75px;
}

.extra-info-agme-guru-radicals {
  height: 75px;
  width: 100%;
  background-color: #9e00cf;
}

.extra-info-agme-guru-kanji {
  height: 75px;
  width: 100%;
  background-color: #c713ff;
}

.extra-info-agme-guru-vocabulary {
  height: 75px;
  width: 100%;
  background-color: #d149ff;
  clear:both;
}

.extra-info-agme-master {
  height: 75px;
  overflow: hidden;
  float: left;
  width: 25%;
  background-color: #0071bc;

  transition: 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.extra-info-agme-master:hover {
  background-color: #005196;
  height: calc(75px * 4);
  margin-top: -75px;
}

.extra-info-agme-master-radicals {
  height: 75px;
  width: 100%;
  background-color: #0080d7;
}

.extra-info-agme-master-kanji {
  height: 75px;
  width: 100%;
  background-color: #18a2ff;
}

.extra-info-agme-master-vocabulary {
  height: 75px;
  width: 100%;
  background-color: #4bb8ff;
  clear:both;
}

.extra-info-agme-enlighten {
  height: 75px;
  float: left;
  width: 25%;
  overflow: hidden;
  background-color: #00aeef;

  transition: 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.extra-info-agme-enlighten:hover {
  background-color: #008bbf;
  height: calc(75px * 4);
  margin-top: -75px;
}

.extra-info-agme-enlighten-radicals {
  height: 75px;
  width: 100%;
  background-color: #00b1f5;
}

.extra-info-agme-enlighten-kanji {
  height: 75px;
  width: 100%;
  background-color: #2dc3ff;
}

.extra-info-agme-enlighten-vocabulary {
  height: 75px;
  width: 100%;
  background-color: #57d3ff;
  clear:both;
}

.extra-info-agme-burned {
  position: relative;
  height: 75px;
  overflow: hidden;
  width: 100%;
  background-color: #999;
  clear:both;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
  z-index: 1;

  transition: 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.extra-info-agme-burned:hover {
  background-color: #bbb;
  height: calc(75px * 4);
}

.extra-info-agme-burned-radicals {
  height: 75px;
  width: 100%;
  background-color: #777;
  clear:both;
}

.extra-info-agme-burned-kanji {
  height: 75px;
  width: 100%;
  background-color: #555;
  clear:both;
}

.extra-info-agme-burned-vocabulary {
  height: 75px;
  width: 100%;
  background-color: #333;
  clear:both;
}

.extra-info-agme-container h5 {
  padding: 1rem 0rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  text-align: center;
  vertical-align: center;
  margin-bottom: 0;
}

.extra-info-title {
  font-size: 1.25rem;
  padding: 0.25rem;
  font-family: 'source-han-sans-japanese', sans-serif;

}

.extra-info-left-container {
  width: 65%;
  float: left;
  padding: 0.25rem;
  clear: left;
}


.extra-info-left-kana {
  font-size: 1.5rem;
  font-family: 'source-han-sans-japanese', sans-serif;

}
.extra-info-left-character {
  font-size: 2rem;
  font-family: 'source-han-sans-japanese', sans-serif;
  font-style: normal;
  font-weight: bolder;
}
.extra-info-left-complete {
  font-size: 1.5rem;
  font-family: 'source-han-sans-japanese', sans-serif;
}

.extra-info-left-meaning {
  padding-top: 0.25rem;
  font-size: 1.25rem;
  font-family: 'source-han-sans-japanese', sans-serif;
}

.extra-info-right-container {
  padding: 0.25rem;
  width: 35%;
  float: right;
  text-align: right;
}

.extra-info-right-on-yomi {
  font-size: 1.25rem;
  font-family: 'source-han-sans-japanese', sans-serif;
  font-style: normal;
}

.extra-info-right-kun-yomi {
  font-size: 1.25rem;
  font-family: 'source-han-sans-japanese', sans-serif;
  font-style: normal;
}

.extra-info-right-percentage {
  font-size: 1.5rem;
  font-family: 'source-han-sans-japanese', sans-serif;
}


/* Responsify Stuff (grid system is take care with jQuery)*/
