.fa-bars {
  color: black;
}

.navbar {
  padding: 0px;
}

@media (min-width: 992px){
.navbar-toggler {
  display: none;
}
.collapse {
  display: block;
}
}

@media (max-width: 991px){


.fa-chevron-up {
  color: black;
}

.navbar-toggler[aria-expanded="true"] > .fa-bars {
  display: none;
}

.navbar-toggler[aria-expanded="false"] > .fa-bars {
  display: block;
}

.navbar-toggler[aria-expanded="true"] > .fa-chevron-up {
    display: block;
}

.navbar-toggler[aria-expanded="false"] > .fa-chevron-up {
  display: none;
}

}
.nav {
  text-align: center;

}

.nav li {
  display: inline-block;
  border: 0px solid rgb(242,130,180);
  transition: 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
  width: 140px;
  height: 60px;
  border-left: 1px solid rgb(230,230,230);
  box-sizing: border-box;
  word-spacing: 999999999999px;
}

.nav li:last-of-type {
  border-right: 1px solid rgb(230,230,230);
}

.nav li:hover {
  border-bottom: 4px solid rgb(242,130,180) !important;
}

.nav li a {
  color: rgb(170,170,170);
  font-family: 'source-han-sans-japanese', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946) all;
}

.nav li a:hover {
  color: rgb(242,130,180);
  text-decoration: none;
}

.nav li:hover > a {
  color: rgb(242,130,180);
}

@media (max-width: 991px) {
  .nav li {
    display: block;
    clear: both;
    width: 100%;
    border-left: 0px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
  }
  .nav li:last-of-type{
    border-bottom: 0px solid rgb(230,230,230);
    border-right: 0px solid rgb(230,230,230);
  }


}
